@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.headUl a.active {
  text-decoration: underline;
}

.headUl a.nonactive {
  text-decoration: none;
}

.mBorder:focus-within {
  filter: drop-shadow(5px 5px 5px gray);
}

.postcard:focus-within {
  border-color: black;
}

.container1 {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgb(23 37 84 / var(--tw-bg-opacity, 1));
  padding-top: 40px;
  padding-bottom: 50px;
  height: 100%;
}